In [1]:
import asyncio
import pandas as pd

from src.features.data_engineering import get_merged_seasons_data, update_team_score_feature
from src.data.data_loader import get_league_table, load_master_team_list
from src.features.utils import idx_to_team_name, str_date_months_back

# Add features with information about player team performance and next match opponent team performance from last two months

In [2]:
df_table = asyncio.run(get_league_table(2019, '2019-10-01', '2019-12-31'))

In [3]:
df_table.head()

,Position,Team,M,W,D,L,G,GA,PTS,xG,NPxG,xGA,NPxGA,NPxGD,PPDA,OPPDA,DC,ODC,xPTS
0,1,Liverpool,12,11,1,0,29,9,34,25.99,23.70,9.77,9.77,13.93,8.45,18.30,135,52,25.77
1,2,Leicester,13,9,1,3,30,14,28,24.55,21.51,20.19,17.91,3.60,8.92,12.33,98,93,21.61
2,3,Manchester City,13,8,1,4,27,16,25,29.88,28.21,13.08,12.32,15.89,8.27,22.38,187,43,27.66
3,4,Chelsea,13,8,0,5,21,15,24,23.57,22.81,14.16,13.40,9.41,8.18,14.05,122,66,24.05
4,5,Wolverhampton Wanderers,13,6,5,2,20,14,23,18.99,18.23,14.14,13.23,5.00,11.66,10.07,68,80,21.34

In [4]:
# get row from df_table where Team == 'Arsenal'
df_table.loc[df_table['Team'] == 'Arsenal']

,Position,Team,M,W,D,L,G,GA,PTS,xG,NPxG,xGA,NPxGA,NPxGD,PPDA,OPPDA,DC,ODC,xPTS
16,17,Arsenal,13,2,6,5,14,19,12,15.42,14.66,16.94,15.27,-0.61,10.36,11.22,93,85,16.8

In [5]:
data = update_team_score_feature(get_merged_seasons_data())

## For now, work only with single season data

In [6]:
data19 = data[data['season'] == '2019-20']

### And start with only one player, to make it simpler to test

In [7]:
data_kdb = data19[data19['name'] == 'Kevin_De Bruyne_215']

In [8]:
data_kdb.head(10)

,name,assists,bonus,bps,clean_sheets,creativity,element,fixture,goals_conceded,goals_scored,...,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW,position,season
68002,Kevin_De Bruyne_215,1,1,37,1,37.4,215,8,0,0,...,7,0,0,0,95,False,0,1,MID,2019-20
68821,Kevin_De Bruyne_215,2,3,44,0,127.7,215,16,2,0,...,11,2049,81457,79408,95,True,0,2,MID,2019-20
69384,Kevin_De Bruyne_215,1,0,22,0,42.3,215,22,1,0,...,5,460538,510105,49567,96,False,0,3,MID,2019-20
69602,Kevin_De Bruyne_215,1,2,41,1,26.7,215,37,0,1,...,13,293070,373295,80225,97,True,0,4,MID,2019-20
70408,Kevin_De Bruyne_215,0,0,6,0,36.8,215,46,0,0,...,1,399792,438722,38930,98,False,0,5,MID,2019-20
70716,Kevin_De Bruyne_215,2,3,66,1,109.4,215,57,0,1,...,17,35783,135252,99469,98,True,0,6,MID,2019-20
71516,Kevin_De Bruyne_215,2,1,30,0,33.6,215,65,1,0,...,9,388729,412503,23774,99,False,0,7,MID,2019-20
72097,Kevin_De Bruyne_215,0,0,0,0,0.0,215,75,0,0,...,0,-653701,141393,795094,100,True,0,8,MID,2019-20
72649,Kevin_De Bruyne_215,0,0,8,1,34.8,215,84,0,0,...,3,96039,270262,174223,100,False,0,9,MID,2019-20
72842,Kevin_De Bruyne_215,1,0,24,1,91.1,215,95,0,0,...,6,297701,311175,13474,101,True,0,10,MID,2019-20

In [9]:
df_table_kdb_gw1 = asyncio.run(get_league_table(2019, '2019-06-10', '2019-08-10'))

In [10]:
df_table_kdb_gw1.head()

,Position,Team,M,W,D,L,G,GA,PTS,xG,NPxG,xGA,NPxGA,NPxGD,PPDA,OPPDA,DC,ODC,xPTS
0,1,Manchester City,1,1,0,0,5,0,3,3.18,2.42,1.20,1.20,1.22,6.94,16.40,9,1,2.63
1,2,Liverpool,1,1,0,0,4,1,3,2.23,2.23,0.84,0.84,1.39,5.94,21.45,11,5,2.39
2,3,Burnley,1,1,0,0,3,0,3,0.91,0.91,1.09,1.09,-0.18,9.28,5.50,0,9,1.14
3,4,Brighton,1,1,0,0,3,0,3,0.86,0.86,0.67,0.67,0.19,11.50,9.79,5,7,1.55
4,5,Tottenham,1,1,0,0,3,1,3,2.57,2.57,0.64,0.64,1.93,5.25,13.42,15,2,2.59

In [11]:
column_to_get = ['Position', 'G', 'GA', 'xG', 'NPxG', 'xGA', 'NPxGA', 'NPxGD', 'PPDA', 'OPPDA', 'DC', 'ODC', 'xPTS']

In [12]:
master_team_list = load_master_team_list()

In [13]:
master_team_list.head(5)

    season  team       team_name
0  2016-17     1         Arsenal
1  2016-17     2     Bournemouth
2  2016-17     3         Burnley
3  2016-17     4         Chelsea
4  2016-17     5  Crystal Palace

In [14]:
print(idx_to_team_name(master_team_list, 1, '2019-20'))

Arsenal

## Add opponent team stats for player from last two months

In [15]:
data_kdb.head(1)

,name,assists,bonus,bps,clean_sheets,creativity,element,fixture,goals_conceded,goals_scored,...,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW,position,season
68002,Kevin_De Bruyne_215,1,1,37,1,37.4,215,8,0,0,...,7,0,0,0,95,False,0,1,MID,2019-20

In [16]:
df_table_kdb_gw1.loc[df_table_kdb_gw1['Team'] == 'Arsenal'][column_to_get].squeeze(axis=1)

    Position  G  GA   xG  NPxG  xGA  NPxGA  NPxGD  PPDA  OPPDA  DC  ODC  xPTS
11        12  0   0  0.0   0.0  0.0    0.0    0.0   0.0    0.0   0    0   0.0

In [17]:
column_to_get = ['Position', 'G', 'xG']

In [18]:
def add_team_stats(row, column_to_get):
    opponent_team = idx_to_team_name(master_team_list, row['opponent_team'], row['season'])

    season_year = row['season'].split('-')[0]
    date = row['kickoff_time'].split('T')[0]

    date_back = str_date_months_back(date, 2)
    table = asyncio.run(get_league_table(season_year, date_back, date))

    # get row from table where Team == opponent_team
    table_opponent = table.loc[table['Team'] == opponent_team]
    table_opponent = table_opponent[column_to_get]

    return table_opponent

In [19]:
#data_kdb['Position'], data_kdb['G'], data_kdb['xG'] = data_kdb.apply(lambda row: add_team_stats(row, column_to_get), axis=1)
data_stats = data_kdb.apply(lambda row: add_team_stats(row, column_to_get), axis=1)

In [20]:
df_stacked = pd.concat([r for r in data_stats], ignore_index=True)

In [21]:
df_stacked.head(10)

   Position   G     xG
0        20   0   1.20
1         5   5   2.65
2        12   4   4.86
3        16   4   5.12
4        12   9   6.93
5        20   4   8.42
6        15   6   9.93
7        11  11  10.05
8         5   8   8.14
9        11  11  11.96

In [22]:
# merge df_stacked with data_kdb
data_kdb_concat = pd.concat([data_kdb, df_stacked.set_index(data_kdb.index)], axis=1)

In [23]:
data_kdb_concat

,name,assists,bonus,bps,clean_sheets,creativity,element,fixture,goals_conceded,goals_scored,...,transfers_out,value,was_home,yellow_cards,GW,position,season,Position,G,xG
68002,Kevin_De Bruyne_215,1,1,37,1,37.4,215,8,0,0,...,0,95,False,0,1,MID,2019-20,20,0,1.20
68821,Kevin_De Bruyne_215,2,3,44,0,127.7,215,16,2,0,...,79408,95,True,0,2,MID,2019-20,5,5,2.65
69384,Kevin_De Bruyne_215,1,0,22,0,42.3,215,22,1,0,...,49567,96,False,0,3,MID,2019-20,12,4,4.86
69602,Kevin_De Bruyne_215,1,2,41,1,26.7,215,37,0,1,...,80225,97,True,0,4,MID,2019-20,16,4,5.12
70408,Kevin_De Bruyne_215,0,0,6,0,36.8,215,46,0,0,...,38930,98,False,0,5,MID,2019-20,12,9,6.93
70716,Kevin_De Bruyne_215,2,3,66,1,109.4,215,57,0,1,...,99469,98,True,0,6,MID,2019-20,20,4,8.42
71516,Kevin_De Bruyne_215,2,1,30,0,33.6,215,65,1,0,...,23774,99,False,0,7,MID,2019-20,15,6,9.93
72097,Kevin_De Bruyne_215,0,0,0,0,0.0,215,75,0,0,...,795094,100,True,0,8,MID,2019-20,11,11,10.05
72649,Kevin_De Bruyne_215,0,0,8,1,34.8,215,84,0,0,...,174223,100,False,0,9,MID,2019-20,5,8,8.14
72842,Kevin_De Bruyne_215,1,0,24,1,91.1,215,95,0,0,...,13474,101,True,0,10,MID,2019-20,11,11,11.96
73414,Kevin_De Bruyne_215,0,0,21,0,61.9,215,107,1,0,...,29113,102,True,0,11,MID,2019-20,19,6,8.92
74430,Kevin_De Bruyne_215,0,0,18,0,52.1,215,114,3,0,...,81702,102,False,0,12,MID,2019-20,1,16,16.62
74891,Kevin_De Bruyne_215,0,0,28,0,38.1,215,127,1,1,...,125798,102,True,0,13,MID,2019-20,3,16,16.00
75062,Kevin_De Bruyne_215,0,3,35,0,91.1,215,136,2,1,...,55823,102,False,0,14,MID,2019-20,6,9,6.62
75666,Kevin_De Bruyne_215,0,0,13,1,46.9,215,142,0,0,...,16102,102,False,0,15,MID,2019-20,13,11,12.72
76380,Kevin_De Bruyne_215,0,0,19,0,80.3,215,155,2,0,...,96471,103,True,1,16,MID,2019-20,4,16,15.89
77181,Kevin_De Bruyne_215,1,3,59,1,32.0,215,161,0,2,...,264085,102,False,0,17,MID,2019-20,16,11,11.09
77680,Kevin_De Bruyne_215,1,0,28,0,86.6,215,175,1,0,...,16809,103,True,1,18,MID,2019-20,2,25,20.88
78386,Kevin_De Bruyne_215,1,0,21,0,13.8,215,190,1,0,...,27695,104,False,0,19,MID,2019-20,3,16,14.62
78943,Kevin_De Bruyne_215,1,3,34,1,17.8,215,195,0,1,...,28865,105,True,0,20,MID,2019-20,7,14,15.17
79383,Kevin_De Bruyne_215,0,0,13,0,27.3,215,205,1,0,...,23853,106,True,0,21,MID,2019-20,11,14,15.02
80123,Kevin_De Bruyne_215,2,0,34,1,40.7,215,211,0,0,...,44469,106,False,0,22,MID,2019-20,15,11,12.13
80541,Kevin_De Bruyne_215,0,0,21,0,104.8,215,225,2,0,...,37493,107,True,0,23,MID,2019-20,9,12,8.51
80859,Kevin_De Bruyne_215,1,1,30,1,55.6,215,236,0,0,...,205600,107,False,0,24,MID,2019-20,9,12,16.29
82038,Kevin_De Bruyne_215,0,0,10,0,46.4,215,248,2,0,...,46671,107,False,0,25,MID,2019-20,5,16,13.65
82672,Kevin_De Bruyne_215,1,3,51,1,87.1,215,256,0,1,...,72025,108,True,0,26,MID,2019-20,20,11,9.93
82993,Kevin_De Bruyne_215,0,0,2,1,35.6,215,265,0,0,...,83117,108,False,0,27,MID,2019-20,12,13,14.12
84342,Kevin_De Bruyne_215,0,0,0,0,0.0,215,287,0,0,...,264756,107,False,0,29,MID,2019-20,3,12,13.21
84445,Kevin_De Bruyne_215,0,0,0,0,0.0,215,275,0,0,...,264756,107,True,0,29,MID,2019-20,4,12,10.63
84590,Kevin_De Bruyne_215,1,3,43,1,34.9,215,275,0,1,...,59723,106,True,0,39,MID,2019-20,20,0,0.50
85236,Kevin_De Bruyne_215,0,0,4,0,21.3,215,295,0,0,...,59723,106,True,0,39,MID,2019-20,20,0,0.03
85887,Kevin_De Bruyne_215,0,2,29,0,27.8,215,302,2,1,...,43333,106,False,1,40,MID,2019-20,3,4,5.35
86507,Kevin_De Bruyne_215,1,3,42,1,56.7,215,317,0,1,...,51363,107,True,0,41,MID,2019-20,11,4,4.05
87092,Kevin_De Bruyne_215,0,0,2,0,23.8,215,328,0,0,...,28935,107,False,0,42,MID,2019-20,3,7,4.57
87438,Kevin_De Bruyne_215,1,1,32,1,89.8,215,337,0,0,...,28693,108,True,0,43,MID,2019-20,9,10,6.76
88138,Kevin_De Bruyne_215,0,0,19,1,62.0,215,343,0,0,...,44903,108,False,0,44,MID,2019-20,15,4,5.50
88648,Kevin_De Bruyne_215,0,0,0,0,0.0,215,357,0,0,...,92722,108,True,0,45,MID,2019-20,18,8,8.39
89590,Kevin_De Bruyne_215,1,0,32,1,83.1,215,369,0,0,...,146431,107,False,0,46,MID,2019-20,17,7,7.50
89954,Kevin_De Bruyne_215,1,3,70,1,133.5,215,377,0,2,...,142919,106,True,0,47,MID,2019-20,20,1,4.91

In [24]:
# TODO:
# - take average of xG, G etc stats per game
# - create feature 'opponent_next_game' for which new columns will be created
# - think about to add player club stats (need to encode club name for every player)